#lightbox {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 10;
    background: #272525;


    .box {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 32%;
        top: 5%;
        height: 87%;
        width: 35%;
        border-radius: 3px;
        background: #FFFFFF;
        border-radius: 3px;

        .close {
            position: relative;
            height: 4%;
            width: 4%;
            left: 90%;
            top: 2%;
            border-radius: 0px;
        }

        .img01 {
            position: relative;
            height: 65%;
            width: 65%;
            left: 13%;
            top: 5%;
            border-radius: 0px;
            display: flex;
        }

        p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 100%;
            display: flex;
            text-transform: uppercase;
            color: #DE8F75;
            position: relative;
            left: 20%;
            top: 7%;
            max-width: 60%;
            text-align: center;
        }

        .compra {
            position: relative;
            height: 8%;
            width: 65%;
            left: 17%;
            top: 10%;
            background: #32917B;
            border: 0px;
            transition: filter 0.2s;
            border-radius: 3px;

            &:hover {
                filter: brightness(0.9);

            }

            p {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                display: flex;
                text-transform: uppercase;
                color: #ffffff;
                position: relative;
                left: 90px;
                top: 15px;
                text-decoration: none;
            }
        }

        .continuar {
            height: 36px;
            width: 290px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            display: flex;
            color: #AEB6C1;
            position: relative;
            left: 38%;
            top: 11%;
            text-decoration: none;
        }
    }
}