#aside {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 26%;
    width: 47%;
    top: 11%;
    left: 3%;


    @mixin text01 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        color: #686868;
    }

    @mixin text02 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        color: #686868;
    }

    .home {
        display: flex;
        flex-direction: row;
        position: relative;
        @include text01;
        opacity: 0.7;
        line-height: 17.55px;
        font-size: 12px;

        .home02 {
            font-size: 12px;
            @include text02;
            color: #686868;
            line-height: 19.6px;
            opacity: 0.5;
        }
    }

    .container {
        position: absolute;
        left: -5%;
        top: 5%;
        display: flex;
        flex-direction: column;
        width: 20%;
        height: 100%;
        align-items: center;

        img {
            position: relative;
            display: flex;
            flex-direction: column;
            height: 25%;
            width: 85%;
            margin-top: 10%;
            opacity: 0.5;
        }
    }


    main {
        height: 100%;
        width: 75%;
        left: 20%;
        position: relative;
        display: flex;

    }
}