#footer {
    display: flex;
    position: absolute;
    width: 100%;
    height: 18%;
    top: 82%;
    left: 0%;
    border-top: 2px solid #AEB6C1;


    .ellipse {
        height: 105%;
        width: 23%;
        box-sizing: border-box;
        position: absolute;
        background: #FFFFFF;
        border: 2px solid #AEB6C1;
        left: 75%;
        display: inline-block;
        border-radius: 50%;
        top: -30%;

        P {
            position: relative;
            top: 22%;
            font-family: "Montserrat";
            font-size: 16px;
            font-weight: 700;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: center;
            color: #000000;
        }

        .nome {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            display: flex;
            color: rgba(32, 32, 32, 0.5);
            border-top: 2px solid #AEB6C1;
            position: relative;
            left: 15%;
            max-height: 70%;
            width: 70%;
            top: 36%;
        }

        .email {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            display: flex;
            color: rgba(32, 32, 32, 0.5);
            border-top: 2px solid #AEB6C1;
            position: relative;
            left: 15%;
            max-height: 70%;
            width: 70%;
            top: 52%;
        }

        .enviar {
            height: 16%;
            width: 40%;
            left: 30%;
            top: 51%;
            position: relative;
            background: #DE8F75;
            border: 0px;

            .env {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 23px;
                display: flex;
                text-transform: uppercase;
                color: #FFFFFF;
                text-align: center;
                align-items: center;
                left: 30%;
                position: relative;
            }
        }

    }

    .faceb {
        position: absolute;
        display: flex;
        height: 10%;
        width: 5%;
        left: 5%;
        top: 10%;
    }

    .insta {
        position: absolute;
        display: flex;
        height: 10%;
        width: 5%;
        left: 8%;
        top: 10%;
    }

    .pint {
        position: absolute;
        display: flex;
        height: 10%;
        width: 5%;
        left: 12%;
        top: 10%;
    }

    .vtex {
        display: flex;
        position: relative;
        height: 20%;
        width: 10%;
        left: 4%;
        top: 30%;
    }

    .selo {
        display: flex;
        position: relative;
        height: 20%;
        width: 10%;
        left: 2%;
        top: 30%;
    }

    .infos {
        position: absolute;
        left: 20%;
        top: 10%;
        word-spacing: 110px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 19.61px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #AEB6C1;
    }

    .info01 {
        position: absolute;
        left: 20%;
        top: 20%;
        display: inline;
        align-items: center;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        text-align: left;
        color: #202020;
    }

    .info02 {
        position: absolute;
        left: 38%;
        top: 20%;
        display: inline;
        align-items: center;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        text-align: left;
        color: #202020;
    }

    .info03 {
        position: absolute;
        left: 56%;
        top: 20%;
        display: inline;
        align-items: center;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        text-align: left;
        color: #202020;
    }

    .rodape {
        position: absolute;
        display: flex;
        top: 80%;
        left: 0px;
        height: 20%;
        width: 100%;
        background: #DE8F75;
    }

    h5 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        display: flex;
        align-items: center;
        text-align: center;
        height: 90%;
        color: #FFFFFF;
        word-wrap: break-word;
        max-width: 60%;
        position: relative;
        left: 20%;
        letter-spacing: 0.5px;
    }
}